    /* Navigation bar styles */
    
	nav {
	}
	
	nav ul {
	    width: 100%;
	    background-color: #6699cc;
	    position: fixed;
	    display: flex;
	    list-style: none;
	    top: 0;
	    right: 0;
		justify-content: space-between;
	    flex-direction: row;
	    align-items: center;
	    margin-top: 0;
		border-bottom: 2px solid white;
	}

	nav ul li {
		color: white;
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.89em;
		margin-left: 5px;
		height: 30px;
    }

	nav ul li:first-child
	{
		font-weight: bold;
		flex-grow: 1;
		margin-left: 0px;
		text-align: left;
		font-size: 70px;
		line-height:30px;
	}

	nav ul li:first-child a {
		line-height: 30px;
	}
	nav ul li:not(:first-child){
		flex-shrink: 0;
		flex-basis: auto;
	}

    nav ul li a {
		display:block;
		color: #e4f0f5;
		text-decoration: none;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 30px;
    }
	

    nav ul li a.lingua {
		margin-right: 10px;
	}

	nav ul li a:hover {
		filter: brightness(80%) saturate(200%);
	}
	
	
    /* Global styles */
    body {
      display: flex;
      font-family: Arial, sans-serif;
      background-color: #6699cc;
      color: black;
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;
    }
    
    /* Header styles */
    header {
      color: black;
      text-align: center;
    }
    
    header h1 {
      margin: 0;
      font-size: min(10px,4wv);
	  text-align: left;
	  white-space: nowrap;
    }
    
    header p {
      margin: 0;
    }
	
	
      
      /* Styles for the grid container and images */
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
        grid-gap: 10px;
		max-width: 900px;
      }
      .grid-item {
        /*border: 1px solid #ddd;*/
        text-align: center;
        font-size: 14px;
        cursor: pointer;
      }
      .grid-item img {
        max-width: 100%;
        height: auto;
		 vertical-align: bottom;
      }
      .grid-item h2 {
        margin-top: 10px;
        margin-bottom: 10px;
	flex: 1;
	font-size: inherit;
	white-space: nowrap;
        color: white;
      }
	  .grid-item:hover {
		background-color: #6C8EBF;
	  }
	  
      /* Styles for the expandable sections */
      .expandable-section {
        display: none;
        padding: 10px;
		background-color: #99BBEE;
        border: 1px solid black;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
      }
      .expandable-section.show {
        display: block;
      }
	  summary {
		font-size: 26px;
		cursor: pointer;
		font-weight: bold;
		text-align: center;
		background-color: white;
		color: #6699cc; 
		}

/* Highlighted section styles */
    .highlight {
	  display: flex; /* use flexbox layout */
	  flex-direction: column; /* stack the boxes vertically */
	  justify-content: center; /* distribute the boxes evenly */
	  background-color: white;
	  font-weight: bold;
	  color: #6699cc;
	  padding: 20px;
	  text-align: center;
	  margin-top: 20px;
	  cursor: pointer;
	  }
    
	.hover-div:hover {
		background-color: #c5d6f0;
	}
	
	#primo {
		cursor: default;
		max-width: 70%;
		background-color: white; 
		border: 10px solid white;
		color: #6C8EBF;
	}
